In [3]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import sklearn.ensemble
import os

In [4]:
os.chdir('C:\\Users\\Woody\\Desktop\\5291\\project')

In [5]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [6]:
train.head()

,Unnamed: 0,id,host_is_superhost,property_type_Apartment,property_type_Guest suite,property_type_House,property_type_Loft,property_type_Townhouse,property_type_Bed and breakfast,property_type_Condominium,...,neighbourhood_cleansed_Westchester Square,neighbourhood_cleansed_Westerleigh,neighbourhood_cleansed_Whitestone,neighbourhood_cleansed_Williamsbridge,neighbourhood_cleansed_Williamsburg,neighbourhood_cleansed_Windsor Terrace,neighbourhood_cleansed_Woodhaven,neighbourhood_cleansed_Woodlawn,neighbourhood_cleansed_Woodrow,neighbourhood_cleansed_Woodside
0,0,6374694,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,7218561,1,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,20553159,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,17415890,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,16825557,0,0,1,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
test.head()

,Unnamed: 0,id,host_is_superhost,property_type_Apartment,property_type_Guest suite,property_type_House,property_type_Loft,property_type_Townhouse,property_type_Bed and breakfast,property_type_Condominium,...,neighbourhood_cleansed_Westchester Square,neighbourhood_cleansed_Westerleigh,neighbourhood_cleansed_Whitestone,neighbourhood_cleansed_Williamsbridge,neighbourhood_cleansed_Williamsburg,neighbourhood_cleansed_Windsor Terrace,neighbourhood_cleansed_Woodhaven,neighbourhood_cleansed_Woodlawn,neighbourhood_cleansed_Woodrow,neighbourhood_cleansed_Woodside
0,35961,18109722,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,35962,13238362,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35963,606269,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35964,12005318,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,35965,22324099,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
trainx = train.iloc[:, range(2,np.shape(train)[1])]
trainx.drop('review_scores_rating', axis = 1, inplace=True)
trainy = train['review_scores_rating']

C:\Users\Woody\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [17]:
model = sklearn.ensemble.RandomForestRegressor(max_depth=10, n_estimators=200)

In [18]:
model.fit(trainx, trainy)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=10,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [19]:
testx = test.iloc[:, range(2,np.shape(test)[1])]
testx.drop('review_scores_rating', axis = 1, inplace=True)
testy = test['review_scores_rating']

C:\Users\Woody\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [20]:
predtest = model.predict(testx)
predtrain = model.predict(trainx)

In [21]:
testerror = sklearn.metrics.mean_squared_error(y_pred=predtest, y_true=testy)

In [22]:
math.sqrt(testerror)

9.563099445533304

In [23]:
trainerror = sklearn.metrics.mean_squared_error(y_pred=predtrain, y_true=trainy)

In [24]:
math.sqrt(trainerror)

6.7481048018921905